# Metrics

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## `pandas.DataFrame.describe(self)`
```py
count # Number of rows
mean  # Mean (Average)
std   # Standard Deviation
min   # Minimum
25%   # First quartile
50%   # Median
75%   # Third quartile
max   # Maximum
```

In [2]:
df = pd.read_csv('data.csv')
df.describe()

,id,year,stint,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
count,100.000000,100.00000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000
mean,89352.660000,2006.92000,1.130000,52.380000,136.540000,18.69000,35.820000,7.390000,0.550000,4.370000,18.47000,1.380000,0.460000,15.490000,24.080000,1.770000,1.12000,1.380000,1.200000,3.540000
std,218.910859,0.27266,0.337998,48.031299,181.936853,27.77496,50.221807,11.117277,1.445124,7.975537,28.34793,3.694878,1.067613,25.812649,32.804496,5.042957,2.23055,2.919042,2.035046,5.201826
min,88641.000000,2006.00000,1.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,89353.500000,2007.00000,1.000000,9.500000,2.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,89399.000000,2007.00000,1.000000,33.000000,40.500000,2.00000,8.000000,1.000000,0.000000,0.000000,2.00000,0.000000,0.000000,1.000000,7.000000,0.000000,0.00000,0.000000,0.000000,1.000000
75%,89465.250000,2007.00000,1.000000,83.250000,243.750000,33.25000,62.750000,11.750000,1.000000,6.000000,27.00000,1.000000,0.000000,19.250000,37.250000,1.250000,1.00000,1.000000,2.000000,6.000000
max,89534.000000,2007.00000,2.000000,155.000000,586.000000,107.00000,159.000000,52.000000,12.000000,35.000000,96.00000,22.000000,6.000000,132.000000,134.000000,43.000000,11.00000,14.000000,9.000000,21.000000

In [3]:
hr_rbi = df[['hr', 'rbi']]
hr_rbi.describe()

               hr        rbi
count  100.000000  100.00000
mean     4.370000   18.47000
std      7.975537   28.34793
min      0.000000    0.00000
25%      0.000000    0.00000
50%      0.000000    2.00000
75%      6.000000   27.00000
max     35.000000   96.00000

In [4]:
hr_rbi.describe(percentiles=[.2, .8])

               hr        rbi
count  100.000000  100.00000
mean     4.370000   18.47000
std      7.975537   28.34793
min      0.000000    0.00000
20%      0.000000    0.00000
50%      0.000000    2.00000
80%      9.000000   44.20000
max     35.000000   96.00000

In [5]:
hr_rbi.describe(percentiles=[.1])

               hr        rbi
count  100.000000  100.00000
mean     4.370000   18.47000
std      7.975537   28.34793
min      0.000000    0.00000
10%      0.000000    0.00000
50%      0.000000    2.00000
max     35.000000   96.00000

In [6]:
df.columns

Index(['id', 'player', 'year', 'stint', 'team', 'lg', 'g', 'ab', 'r', 'h',
       'X2b', 'X3b', 'hr', 'rbi', 'sb', 'cs', 'bb', 'so', 'ibb', 'hbp', 'sh',
       'sf', 'gidp'],
      dtype='object')

In [9]:
p_ids = df['player']

In [10]:
p_ids.value_counts()

claytro01    2
finlest01    2
sweenma01    2
myersmi01    2
cirilje01    2
            ..
helliri01    1
sosasa01     1
stinnke01    1
glavito02    1
moyerja01    1
Name: player, Length: 82, dtype: int64

In [11]:
p_ids.value_counts(normalize=True)

claytro01    0.02
finlest01    0.02
sweenma01    0.02
myersmi01    0.02
cirilje01    0.02
             ...
helliri01    0.01
sosasa01     0.01
stinnke01    0.01
glavito02    0.01
moyerja01    0.01
Name: player, Length: 82, dtype: float64

In [12]:
p_ids.value_counts(ascending=True)

moyerja01    1
whiteri01    1
sheffga01    1
valenjo03    1
gordoto01    1
            ..
coninje01    2
francju01    2
hernaro01    2
benitar01    2
gomezch02    2
Name: player, Length: 82, dtype: int64

In [14]:
p_ids.values # NumPy vector (1D array)

array(['womacto01', 'schilcu01', 'myersmi01', 'helliri01', 'johnsra05',
       'finlest01', 'gonzalu01', 'seleaa01', 'francju01', 'francju01',
       'zaungr01', 'witasja01', 'williwo02', 'wickmbo01', 'wickmbo01',
       'whitero02', 'whiteri01', 'wellsda01', 'wellsda01', 'weathda01',
       'walketo04', 'wakefti01', 'vizquom01', 'villoro01', 'valenjo03',
       'trachst01', 'trachst01', 'timlimi01', 'thomeji01', 'thomafr04',
       'tavarju01', 'sweenma01', 'sweenma01', 'suppaje01', 'stinnke01',
       'stantmi02', 'stairma01', 'sprinru01', 'sosasa01', 'smoltjo01',
       'sheffga01', 'seleaa01', 'seaneru01', 'schmija01', 'schilcu01',
       'sandere02', 'rogerke01', 'rodriiv01', 'ramirma02', 'piazzmi01',
       'perezne01', 'parkch01', 'oliveda02', 'myersmi01', 'mussimi01',
       'moyerja01', 'mesajo01', 'martipe02', 'maddugr01', 'mabryjo01',
       'loftoke01', 'loftoke01', 'loaizes01', 'kleskry01', 'kentje01',
       'jonesto02', 'johnsra05', 'hoffmtr01', 'hernaro01', 'hernaro01',
       'guarded01', 'griffke02', 'greensh01', 'graffto01', 'gordoto01',
       'gonzalu01', 'gomezch02', 'gomezch02', 'glavito02', 'floydcl01',
       'finlest01', 'embreal01', 'edmonji01', 'easleda01', 'delgaca01',
       'cormirh01', 'coninje01', 'coninje01', 'clemero02', 'claytro01',
       'claytro01', 'cirilje01', 'cirilje01', 'bondsba01', 'biggicr01',
       'benitar01', 'benitar01', 'ausmubr01', 'aloumo01', 'alomasa02'],
      dtype=object)

In [15]:
unique_playes = df['player'].unique()
unique_playes

array(['womacto01', 'schilcu01', 'myersmi01', 'helliri01', 'johnsra05',
       'finlest01', 'gonzalu01', 'seleaa01', 'francju01', 'zaungr01',
       'witasja01', 'williwo02', 'wickmbo01', 'whitero02', 'whiteri01',
       'wellsda01', 'weathda01', 'walketo04', 'wakefti01', 'vizquom01',
       'villoro01', 'valenjo03', 'trachst01', 'timlimi01', 'thomeji01',
       'thomafr04', 'tavarju01', 'sweenma01', 'suppaje01', 'stinnke01',
       'stantmi02', 'stairma01', 'sprinru01', 'sosasa01', 'smoltjo01',
       'sheffga01', 'seaneru01', 'schmija01', 'sandere02', 'rogerke01',
       'rodriiv01', 'ramirma02', 'piazzmi01', 'perezne01', 'parkch01',
       'oliveda02', 'mussimi01', 'moyerja01', 'mesajo01', 'martipe02',
       'maddugr01', 'mabryjo01', 'loftoke01', 'loaizes01', 'kleskry01',
       'kentje01', 'jonesto02', 'hoffmtr01', 'hernaro01', 'guarded01',
       'griffke02', 'greensh01', 'graffto01', 'gordoto01', 'gomezch02',
       'glavito02', 'floydcl01', 'embreal01', 'edmonji01', 'easleda01',
       'delgaca01', 'cormirh01', 'coninje01', 'clemero02', 'claytro01',
       'cirilje01', 'bondsba01', 'biggicr01', 'benitar01', 'ausmubr01',
       'aloumo01', 'alomasa02'], dtype=object)

In [16]:
unique_teams = df['team'].unique()
unique_teams

array(['CHN', 'BOS', 'NYA', 'MIL', 'SFN', 'ARI', 'LAN', 'ATL', 'NYN',
       'TOR', 'TBA', 'HOU', 'MIN', 'SDN', 'CIN', 'OAK', 'BAL', 'CHA',
       'SLN', 'TEX', 'DET', 'KCA', 'LAA', 'PHI', 'COL', 'CLE', 'FLO'],
      dtype=object)

In [17]:
y_ids = df['year']
y_ids.value_counts()

2007    92
2006     8
Name: year, dtype: int64