# Conversion to NumPy

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
colours = pd.DataFrame({
    'Colour': [
        'Red',
        'Red',
        'Blue',
        'Green',
        'Blue',
        'Blue',
        'Red',
        'Green',
        'Green',
        'Red',
        'Red'
    ]
})
colours

   Colour
0     Red
1     Red
2    Blue
3   Green
4    Blue
5    Blue
6     Red
7   Green
8   Green
9     Red
10    Red

In [3]:
colours['Colour'].value_counts()

Red      5
Blue     3
Green    3
Name: Colour, dtype: int64

In [7]:
# Indicator form of categorical variable (One-Hot Encoding)
encoded = pd.get_dummies(colours)
encoded

    Colour_Blue  Colour_Green  Colour_Red
0             0             0           1
1             0             0           1
2             1             0           0
3             0             1           0
4             1             0           0
5             1             0           0
6             0             0           1
7             0             1           0
8             0             1           0
9             0             0           1
10            0             0           1

In [8]:
encoded.columns

Index(['Colour_Blue', 'Colour_Green', 'Colour_Red'], dtype='object')

In [10]:
encoded[['Colour_Blue', 'Colour_Red']].sum()

Colour_Blue    3
Colour_Red     5
dtype: int64

In [15]:
colours.values

array([['Red'],
       ['Red'],
       ['Blue'],
       ['Green'],
       ['Blue'],
       ['Blue'],
       ['Red'],
       ['Green'],
       ['Green'],
       ['Red'],
       ['Red']], dtype=object)

In [16]:
colours['Colour'].values

array(['Red', 'Red', 'Blue', 'Green', 'Blue', 'Blue', 'Red', 'Green',
       'Green', 'Red', 'Red'], dtype=object)

In [17]:
colours.to_numpy()

array([['Red'],
       ['Red'],
       ['Blue'],
       ['Green'],
       ['Blue'],
       ['Blue'],
       ['Red'],
       ['Green'],
       ['Green'],
       ['Red'],
       ['Red']], dtype=object)