# Series

In [13]:
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
series = pd.Series()
series

<ipython-input-2-bbe00c77ec28>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series = pd.Series()

Series([], dtype: float64)

In [3]:
series = pd.Series(5)
series

0    5
dtype: int64

In [4]:
series = pd.Series([1, 2, 3])
series

0    1
1    2
2    3
dtype: int64

In [7]:
series.to_list()

[1, 2, 3]

In [8]:
pd.Series([1, 2.2])

0    1.0
1    2.2
dtype: float64

In [12]:
pd.Series([1, 2, '3'])

0    1
1    2
2    3
dtype: object

In [15]:
pd.Series([
    1, 2,
    3, 4
], dtype=np.float64)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [16]:
pd.Series(
    [1, 2, 3],
    index=['a', 'b', 'c']
)

a    1
b    2
c    3
dtype: int64

In [17]:
pd.Series(
    [1, 2, 3],
    index=['a', 3.14, np.nan]
)

a       1
3.14    2
NaN     3
dtype: int64

In [18]:
pd.Series({
    'Alif': 1,
    'Be': 2,
    'Pe': 5
})

Alif    1
Be      2
Pe      5
dtype: int64

In [20]:
pd.Series({
    'Alif': 1,
    'Be': 2,
    'Pe': 5
}, dtype=str).astype(int)

Alif    1
Be      2
Pe      5
dtype: int32