# Combining

In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
df1 = pd.DataFrame({
    'c1': [1, 2],
    'c2': [3, 4],
}, index=['r1', 'r2'])
df1

    c1  c2
r1   1   3
r2   2   4

In [3]:
df2 = pd.DataFrame({
    'c1': [5, 6],
    'c2': [7, 8],
}, index=['r1', 'r2'])
df2

    c1  c2
r1   5   7
r2   6   8

In [4]:
df3 = pd.DataFrame({
    'c1': [5, 6],
    'c2': [7, 8],
})
df3

   c1  c2
0   5   7
1   6   8

In [5]:
pd.concat([df1, df2], axis=1)

    c1  c2  c1  c2
r1   1   3   5   7
r2   2   4   6   8

In [6]:
pd.concat([df1, df2], axis=0)

    c1  c2
r1   1   3
r2   2   4
r1   5   7
r2   6   8

In [7]:
pd.concat([df1, df2, df3])

    c1  c2
r1   1   3
r2   2   4
r1   5   7
r2   6   8
0    5   7
1    6   8

In [8]:
pd.concat([df1, df2, df3]).shape

(6, 2)

In [9]:
pd.concat([df1, df3], axis=1)

     c1   c2   c1   c2
r1  1.0  3.0  NaN  NaN
r2  2.0  4.0  NaN  NaN
0   NaN  NaN  5.0  7.0
1   NaN  NaN  6.0  8.0

In [11]:
data_a = pd.DataFrame({
    'name': [
        'Param',
        'Viniet',
        'Shikhar'
    ],
    'age': [
        19,
        99,
        11
    ]
})
data_a

      name  age
0    Param   19
1   Viniet   99
2  Shikhar   11

In [12]:
data_b = pd.DataFrame({
    'name': [
        'Param',
        'Viniet',
        'Yukthi'
    ],
    'colour': [
        'Red',
        'Blue',
        'Yellow'
    ]
})
data_b

     name  colour
0   Param     Red
1  Viniet    Blue
2  Yukthi  Yellow

In [13]:
pd.merge(data_a, data_b) # how = 'inner'

     name  age colour
0   Param   19    Red
1  Viniet   99   Blue

In [14]:
pd.merge(data_a, data_b, how='outer')

      name   age  colour
0    Param  19.0     Red
1   Viniet  99.0    Blue
2  Shikhar  11.0     NaN
3   Yukthi   NaN  Yellow