# Indexing

In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

In [15]:
df = pd.DataFrame({
    'c1': [1, 2, 3],
    'c2': [4, 5, 6],
    'c3': [7, 8, 9]
}, index=[
    'r1',
    'r2',
    'r3'
])
df

    c1  c2  c3
r1   1   4   7
r2   2   5   8
r3   3   6   9

In [16]:
# c1
df['c1']

r1    1
r2    2
r3    3
Name: c1, dtype: int64

In [17]:
type(df['c1'])

pandas.core.series.Series

In [18]:
# c1, but DataFrame, not Series
df[['c1']]

    c1
r1   1
r2   2
r3   3

In [19]:
# Multiple columns
df[['c2', 'c3']]

    c2  c3
r1   4   7
r2   5   8
r3   6   9

In [20]:
df.loc[:, 'c1']

r1    1
r2    2
r3    3
Name: c1, dtype: int64

In [21]:
type(df.loc[:, 'c1'])

pandas.core.series.Series

In [27]:
# First 2 rows
df[:2] # Exclusive

    c1  c2  c3
r1   1   4   7
r2   2   5   8

In [28]:
df['r2':'r3'] # Inclusive

    c1  c2  c3
r2   2   5   8
r3   3   6   9

In [29]:
# Row at index 1
df.iloc[1]

c1    2
c2    5
c3    8
Name: r2, dtype: int64

In [30]:
df.iloc[[0, 2]]

    c1  c2  c3
r1   1   4   7
r3   3   6   9

In [31]:
df.loc['r2']

c1    2
c2    5
c3    8
Name: r2, dtype: int64

In [34]:
df.loc[['r1', 'r3']]

    c1  c2  c3
r1   1   4   7
r3   3   6   9

In [35]:
df.iloc[[False, True, True]]

    c1  c2  c3
r2   2   5   8
r3   3   6   9

In [36]:
df[[False, True, True]]

    c1  c2  c3
r2   2   5   8
r3   3   6   9

In [37]:
df.loc[['r1', 'r3'], ['c1', 'c3']]

    c1  c3
r1   1   7
r3   3   9

In [39]:
df2 = df.copy()
df2

    c1  c2  c3
r1   1   4   7
r2   2   5   8
r3   3   6   9

In [42]:
df2.loc[['r1', 'r3'], ['c2', 'c3']] = 0
df2

    c1  c2  c3
r1   1   0   0
r2   2   5   8
r3   3   0   0

In [44]:
df3 = df.copy()
df3.loc['r2', 'c1':'c2'] = -1
df3

    c1  c2  c3
r1   1   4   7
r2  -1  -1   8
r3   3   6   9