# Features

In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
df = pd.DataFrame({
    'T1': [10, 15, 8],
    'T2': [25, 27, 25],
    'T3': [16, 15, 10]
})

In [3]:
df

   T1  T2  T3
0  10  25  16
1  15  27  15
2   8  25  10

In [4]:
df.sum()

T1    33
T2    77
T3    41
dtype: int64

In [5]:
df.sum(axis=1)

0    51
1    57
2    43
dtype: int64

In [6]:
df.mean()

T1    11.000000
T2    25.666667
T3    13.666667
dtype: float64

In [7]:
df.mean(axis=1)

0    17.000000
1    19.000000
2    14.333333
dtype: float64

In [11]:
df.multiply(2)

   T1  T2  T3
0  20  50  32
1  30  54  30
2  16  50  20

In [20]:
df.multiply([1000, 1, 0.001]) # Weighted features

        T1    T2     T3
0  10000.0  25.0  0.016
1  15000.0  27.0  0.015
2   8000.0  25.0  0.010

In [21]:
df.multiply([1, 2, 3], axis=0) # Row-wise multiplication

   T1  T2  T3
0  10  25  16
1  30  54  30
2  24  75  30