# Arrays

In [1]:
import numpy as np

In [2]:
arr = np.array([
    [1, 2, 3],
    [4, 5, 6]
], dtype=np.int32)
arr

array([[1, 2, 3],
       [4, 5, 6]])

In [3]:
arr_copy = arr.copy()
arr_copy

array([[1, 2, 3],
       [4, 5, 6]])

In [4]:
arr.astype(np.float64)

array([[1., 2., 3.],
       [4., 5., 6.]])

In [5]:
np.array([np.nan, 'abc'])

array(['nan', 'abc'], dtype='<U32')

In [6]:
np.array([1, 2, np.nan], dtype=np.int32)

ValueError: cannot convert float NaN to integer

In [8]:
np.array([1, 2, np.nan], dtype=np.float64)

array([ 1.,  2., nan])

In [9]:
np.array([1, 2, np.nan])

array([ 1.,  2., nan])

In [10]:
np.array([1, 2, '3'])

array(['1', '2', '3'], dtype='<U11')

In [11]:
np.array([1, 2, '3'], dtype=str)

array(['1', '2', '3'], dtype='<U1')

In [12]:
np.array([-np.inf, np.nan, np.inf])

array([-inf,  nan,  inf])

In [13]:
str(np.inf)

'inf'