# Basics

In [1]:
import numpy as np

In [2]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [3]:
np.arange(5.1)

array([0., 1., 2., 3., 4., 5.])

In [4]:
np.arange(-1, 4)

array([-1,  0,  1,  2,  3])

In [5]:
np.arange(2.1, 5)

array([2.1, 3.1, 4.1])

In [6]:
np.arange(-1.5, 4, 2)

array([-1.5,  0.5,  2.5])

In [9]:
np.linspace(2, 5, num=10) # Inclusive

array([2.        , 2.33333333, 2.66666667, 3.        , 3.33333333,
       3.66666667, 4.        , 4.33333333, 4.66666667, 5.        ])

In [10]:
np.linspace(2, 5, num=10, endpoint=False) # Exclusive

array([2. , 2.3, 2.6, 2.9, 3.2, 3.5, 3.8, 4.1, 4.4, 4.7])

In [12]:
two_to_five_seven = np.linspace(2, 5, num=7, dtype=np.int32)
two_to_five_seven

array([2, 2, 3, 3, 4, 4, 5])

In [13]:
np.unique(two_to_five_seven)

array([2, 3, 4, 5])

In [15]:
arr = np.arange(8)
arr

array([0, 1, 2, 3, 4, 5, 6, 7])

In [21]:
np.reshape(arr, (-1, 4))

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [26]:
arr.reshape((-1, 8))

array([[0, 1, 2, 3, 4, 5, 6, 7]])

In [29]:
new_arr = arr.reshape((2, -1))
new_arr

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [30]:
new_arr.flatten()

array([0, 1, 2, 3, 4, 5, 6, 7])

In [31]:
new_arr.shape

(2, 4)

In [32]:
newer_arr = new_arr.transpose() # Or np.transpose(new_arr)
newer_arr

array([[0, 4],
       [1, 5],
       [2, 6],
       [3, 7]])

In [33]:
newer_arr.shape

(4, 2)

In [35]:
arr_3d = np.arange(24).reshape((2, 3, 4))
arr_3d

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [37]:
arr_3d.transpose() # (2, 1, 0)

array([[[ 0, 12],
        [ 4, 16],
        [ 8, 20]],

       [[ 1, 13],
        [ 5, 17],
        [ 9, 21]],

       [[ 2, 14],
        [ 6, 18],
        [10, 22]],

       [[ 3, 15],
        [ 7, 19],
        [11, 23]]])

In [40]:
arr_3d.transpose((1, 0, 2))

array([[[ 0,  1,  2,  3],
        [12, 13, 14, 15]],

       [[ 4,  5,  6,  7],
        [16, 17, 18, 19]],

       [[ 8,  9, 10, 11],
        [20, 21, 22, 23]]])

In [43]:
np.ones(4)

array([1., 1., 1., 1.])

In [44]:
np.ones((4,))

array([1., 1., 1., 1.])

In [47]:
np.ones((4, 1))

array([[1.],
       [1.],
       [1.],
       [1.]])

In [48]:
np.zeros((2, 3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [49]:
np.zeros((2, 3), dtype=str)

array([['', '', ''],
       ['', '', '']], dtype='<U1')

In [54]:
nulls = np.zeros((2, 3), dtype='<U32')
nulls[:] = 'null'
nulls

array([['null', 'null', 'null'],
       ['null', 'null', 'null']], dtype='<U32')

In [56]:
arr_x = np.array([
    [1, 2, 3],
    [4, 5, 6]
])
arr_y = np.array([
    [1, 2],
    [3, 4],
    [5, 6]
])
arr_x, arr_y

(array([[1, 2, 3],
        [4, 5, 6]]),
 array([[1, 2],
        [3, 4],
        [5, 6]]))

In [59]:
np.zeros_like(arr_x, dtype=np.float32)

array([[0., 0., 0.],
       [0., 0., 0.]], dtype=float32)

In [60]:
np.ones_like(arr_y)

array([[1, 1],
       [1, 1],
       [1, 1]])